@charset "UTF-8";
* {
  box-sizing: border-box; }

body {
  width: 100%;
  margin: 0 auto; }

ul {
  padding: 0; }

li, a {
  text-decoration: none; }

li {
  list-style: none; }

h1, h2, p, figure, blockquote {
  margin: 0;
  font-weight: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-linkedin-with-circle:before {
  content: "\e800"; }

.icon-google-plus:before {
  content: "\e801"; }

.icon-facebook:before {
  content: "\e802"; }

.icon-twitter:before {
  content: "\e803"; }

.icon-pinterest:before {
  content: "\e804"; }

@font-face {
  font-family: 'icomoon';
  src: url("/css/fonts/icomoon.eot?vjxn5v");
  src: url("/css/fonts/icomoon.eot?vjxn5v#iefix") format("embedded-opentype"), url("/css/fonts/icomoon.ttf?vjxn5v") format("truetype"), url("/css/fonts/icomoon.woff?vjxn5v") format("woff"), url("/css/fonts/icomoon.svg?vjxn5v#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

.top-navigation {
  max-width: 40em; }
  .top-navigation ul {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify; }
  .top-navigation li {
    display: inline-block; }
  .top-navigation a {
    margin: 0 1rem; }

.button-big,
.button-read,
.button-learn {
  text-transform: uppercase;
  background: black;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 2em;
  padding-right: 2em; }

.button-change,
.button-contact {
  background: white;
  color: black; }

.button-contact {
  font-weight: bold; }

.button-learn {
  background: transparent;
  border: 1px solid white; }

.button-small {
  text-transform: uppercase;
  background: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 1em;
  padding-right: 1em; }

.button-small:hover {
  background: black;
  color: white; }

.top-navigation {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.238em; }
  .top-navigation li:before {
    content: "•";
    color: #ffffff; }
  .top-navigation li:first-child:before {
    display: none; }
  .top-navigation a {
    color: #ffffff; }

.title-description {
  font-family: "Roboto Slab", sans-serif;
  background-color: #97f1e7; }
  .title-description h1 {
    font-weight: 400;
    font-size: 3.33em;
    color: #1e1d24; }
  .title-description p {
    font-weight: 300;
    font-size: 2.369rem;
    line-height: 3.5rem;
    color: #5b918b; }
