.blog {
  margin-bottom: 6em;

  .breadcrumbs {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    ul {
      margin: 0;
    }
  }

  .no-show {
    margin: 3em auto;
    width: 30%;
  }

  .blog-post {
    margin: 6em 20% 5em;

    div {
      float: right;
    }

    ul {
      width: 75%;
      margin: 0;
      float: none;
    }

    .button-read {
      float: right;
    }
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;

    ul {
      margin: 0;
      display: inline;
      min-width: 175px;

    }
  }

  .button-create {
    display: block;
    max-width: 12em;
    margin: 2em auto 0;
  }

  .blog-form {
    display: flex;
    justify-content: space-around;
    padding: 0 10%;
  }

  .post-preview {
    display: none;
    width: 30em;

    h1 {
      margin-top: 0;
      margin-bottom: 1em;
    }

    @media screen and (min-width: 800px) {
      display: block;
      width: 30em;
      margin: 2em 1em;
    }
  }

  .create-post {
    display: block;
    width: 30em;
    margin: 2em 1em;

    @media screen and (max-width: 35em) {
      width: 95%;
    }

    input {
      display: block;
    }
    input[type=text], textarea {
      width: 100%;
      margin-bottom: font-size(1);
    }
    ul {
      display: flex;
      justify-content: space-between;
      margin: 0;
      width: 100%;
      height: 4em;
    }
    li {
      display: inline-block;
    }
  }

}
