.feature {
  @extend %section-padding-top-bottom;
  h1 {
    margin-bottom: font-size(4);
  }
  p {
    max-width: 38em;
    margin: 0 auto font-size(4);
  }
  .button-feature {
    margin-left: font-size(1);
    margin-right: font-size(1);
  }
}
