.title-description {
  @extend %section-padding-top-bottom;
  @extend %flex-box;
  flex-direction: column;
  justify-content: flex-start;

  h1 {
    margin-bottom: font-size(1);
    margin-left: 2%;
  }
  p {
    max-width: 70rem;
    margin-left: 2%;
  }
}
