%form-style {
  padding: .3em 1em;
  font-family: $font-primary;
  font-size: font-size(0);
  border: 1px solid color(secondary);
  border-radius: 5px;
}

.create-post {
  li a {
    display: inline-block;
  }

  input {
    @extend %form-style;
  }
  textarea {
    @extend %form-style;
    min-height: 20em;
  }
  input[type=text] {
    padding: .5em;
  }
  input[type=submit] {
    font-size: font-size(0);
    padding: 1em 2em;
  }
  input[type=submit]:hover {
    cursor: pointer;
  }
}
