@charset "UTF-8";
.title-description, .feature, header {
  padding: 6em 0; }

* {
  box-sizing: border-box; }

body {
  width: 100%;
  margin: 0 auto; }

ul {
  padding: 0; }

li, a {
  text-decoration: none; }

li {
  list-style: none; }

h1, h2, p, figure, blockquote {
  margin: 0;
  font-weight: normal; }

a {
  color: #1e1d24; }

li {
  display: inline; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-linkedin-with-circle:before {
  content: "\e800"; }

.icon-google-plus:before {
  content: "\e801"; }

.icon-facebook:before {
  content: "\e802"; }

.icon-twitter:before {
  content: "\e803"; }

.icon-pinterest:before {
  content: "\e804"; }

@font-face {
  font-family: 'icomoon';
  src: url("/css/fonts/icomoon.eot?vjxn5v");
  src: url("/css/fonts/icomoon.eot?vjxn5v#iefix") format("embedded-opentype"), url("/css/fonts/icomoon.ttf?vjxn5v") format("truetype"), url("/css/fonts/icomoon.woff?vjxn5v") format("woff"), url("/css/fonts/icomoon.svg?vjxn5v#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

header {
  background-color: #1e1d24; }
  header h1 {
    display: inline-block; }

.top-navigation {
  display: inline-block; }
  .top-navigation ul {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify; }
  .top-navigation li {
    display: inline-block; }
  .top-navigation a {
    margin: 0 1rem; }

.title-description h1 {
  margin-bottom: 1.333rem; }

.title-description p {
  max-width: 70rem; }

.blog {
  margin-bottom: 6em; }

.feature h1 {
  margin-bottom: 3.157rem; }

.feature p {
  max-width: 38em;
  margin: 0 auto 3.157rem; }

.feature .button-feature {
  margin-left: 1.333rem;
  margin-right: 1.333rem; }

.big-indent-left {
  margin-left: 5em; }

.big-indent-right {
  margin-right: 5em; }

.small-indent-left {
  margin-left: 3.5em; }

.button-big,
.button-read {
  text-transform: uppercase;
  background: black;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem; }

.button-change,
.button-feature:hover {
  background: white;
  color: black; }

.button-feature:hover {
  font-weight: 400; }

.button-feature {
  background: transparent;
  border: 1px solid white;
  font-weight: 400; }

.button-small {
  text-transform: uppercase;
  background: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem; }

.button-small:hover {
  background: black;
  color: white; }

header {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify; }
  header h1 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 2.369rem;
    color: #ffffff; }

.top-navigation {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.238em; }
  .top-navigation li:before {
    content: "•";
    color: #ffffff; }
  .top-navigation li:first-child:before {
    display: none; }
  .top-navigation a {
    color: #ffffff; }
  .top-navigation a:hover {
    color: #97f1e7; }

.title-description {
  font-family: "Roboto Slab", sans-serif;
  background-color: #97f1e7;
  border-bottom: 2px solid #80ccc3; }
  .title-description h1 {
    font-weight: 400;
    font-size: 3.33em;
    color: #1e1d24; }
  .title-description p {
    font-weight: 300;
    font-size: 2.369rem;
    line-height: 3.5rem;
    color: #5b918b; }

.icon-circle {
  border-radius: 50%;
  width: 8em;
  height: 8em;
  padding-top: 3.5em;
  padding-bottom: 2.5em;
  padding-right: 1.2em;
  padding-left: 1.2em;
  border: 0.12em solid #bbbbbd;
  position: relative;
  display: block;
  text-align: center; }

.social-link-footer li {
  margin-right: 2em;
  display: inline-block; }
  .social-link-footer li .icon-circle .footer-icon {
    left: 0;
    bottom: 1.8em;
    position: absolute;
    font-size: 3em;
    color: #1e1d24;
    background-color: #ffffff; }

.icon-text {
  color: #1e1d24;
  font-family: Ubuntu;
  font-size: 1rem;
  font-weight: 700; }

/******* TODO ********
*                    *
* Add Aria to icons  *
*                    *
**********************/
.blog {
  background-color: #ffffff; }
  .blog div {
    border-bottom: 1px solid #d2d2d3; }
  .blog h1 {
    display: inline-block;
    padding-left: 7%;
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem;
    font-weight: font-weight(bold); }
  .blog ul {
    display: inline-block;
    margin-left: 65%; }
  .blog li {
    padding-right: 10px;
    padding-left: 10px;
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem;
    color: #bcbbbd;
    text-align: right; }
  .blog .blog-post {
    padding: 0 0 2em;
    margin: 6em 20% 5em;
    text-align: left;
    border-bottom: 1px solid #bcbbbd; }
    .blog .blog-post h1 {
      font-size: 3em;
      padding-left: 0;
      padding-bottom: 1em; }
    .blog .blog-post p {
      font-family: "Ubuntu", sans-serif;
      font-weight: 300;
      font-size: 1.777rem;
      color: #bcbbbd;
      line-height: 2.75rem;
      padding-bottom: 1em; }
    .blog .blog-post li {
      text-align: left;
      font-style: italic;
      padding-left: 0;
      padding-right: 10px; }
      .blog .blog-post li a {
        color: #bcbbbd; }
    .blog .blog-post li:before {
      content: "•";
      padding-right: 10px; }
    .blog .blog-post li:first-child:before {
      display: none; }
    .blog .blog-post ul {
      display: inline;
      width: 75%;
      margin: 0; }
    .blog .blog-post .button-read {
      float: right; }
  .blog nav {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    padding-top: 1em;
    width: 60%;
    margin: 0 auto; }
    .blog nav ul {
      margin: 0;
      display: inline; }
    .blog nav li {
      padding: 0 2px; }

footer .footer-top {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  padding-top: 2em;
  border-bottom: 1px solid #d2d2d3; }
  footer .footer-top a {
    font-family: "Ubuntu", sans-serif; }
  footer .footer-top .email-phone {
    display: block;
    padding-left: 0;
    margin-left: -25%; }

footer .footer-bottom {
  text-align: center;
  margin: 2em auto; }
  footer .footer-bottom li {
    font-size: .917em;
    font-family: "Ubuntu", sans-serif;
    padding: 0 0.5em; }

.feature {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  background-color: #97f1e7; }
  .feature h1 {
    font-weight: 400;
    font-size: 3em;
    line-height: 1;
    color: #ffffff; }
  .feature p {
    font-weight: 400;
    font-size: 1.333rem;
    line-height: 2.25;
    color: #cbf8f3; }
  .feature .button-feature {
    padding-top: 1em;
    padding-bottom: 1em; }
