<form class="create-post" ng-submit="vm.save()">
  <input type="text" ng-model="vm.blog.title" placeholder="Your great post title" />
  <textarea name="message" ng-model="vm.blog.content" placeholder="Words of greatness..."></textarea>
  <input type="text" ng-model="vm.blog.author" placeholder="Who wrote this?" />
  <ul>
    <li><input type="submit" name="Submit" class="button-big"></li>
    <li><a href="#/blog-post/" class="button-big">Home</a></li>
    <button ng-click="vm.delete()" class="button-big button-read">Delete</button>

  </ul>
</form>
