footer {
  padding: 2em;

  .footer-top {
    @include display(flex);
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(space-between);
    border-bottom: 1px solid shades-primary(4);


    a {
      font-family: $font-primary;
    }
  }

  .footer-bottom {
    text-align: center;
    margin: 2em auto;

    li {
      font-size: .917em;
      font-family: $font-primary;
      padding: 0 .5em;
    }
  }
}
