.top-navigation {
  font-family: $font-primary;
  font-weight: weight(regular);
  font-size: font-size(0);
  text-transform: uppercase;
  letter-spacing: 0.238em;
  li:before {
    content: "•";
    color: color(base);
  }
  li:first-child:before {
    display: none;
  }
  a {
    color: color(base);
  }
  a:hover {
    color: color(accent);
  }
}
