// html, a {
//   color: text("primary");
// }

// h1, h2 {
//   font-family: $secondary-font;
// }

// h1 {

//   [data-section="app-reviews"] &,
//   [data-section="more-apps"] &,
//   [data-section="appbox-screenshots"] & {
//     text-align: center;
//   }
// }

// button {
//   cursor: pointer;
// }

// p {
//   font-family: $primary-font;
//   font-weight: $font-weight-l;
//   font-size: $font-small;
//   line-height: $secondary-lh;
// }
