%section-padding-top-bottom, {
  padding: 6em 2em;
}
%flex-box {
	display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
}
