@charset "UTF-8";
.top-navigation {
  font-weight: weight(regular);
  font-size: font-size(0);
  text-transform: uppercase;
  letter-spacing: 0.238em; }
  .top-navigation li:before {
    content: "•";
    color: color(base); }
  .top-navigation a {
    color: color(base); }
