@charset "UTF-8";
.title-description, .feature, header {
  padding: 6em 2em; }

* {
  box-sizing: border-box; }

[ng-cloak] {
  visibility: hidden; }

body {
  width: 100%;
  margin: 0 auto; }

ul {
  padding: 0; }

li, a {
  text-decoration: none; }

li {
  list-style: none; }

h1, h2, p, figure, blockquote {
  margin: 0;
  font-weight: normal; }

a {
  color: #1e1d24; }

li {
  display: inline; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-linkedin-with-circle:before {
  content: "\e800"; }

.icon-google-plus:before {
  content: "\e801"; }

.icon-facebook:before {
  content: "\e802"; }

.icon-twitter:before {
  content: "\e803"; }

.icon-pinterest:before {
  content: "\e804"; }

@font-face {
  font-family: 'icomoon';
  src: url("/styles/fonts/icomoon.eot?vjxn5v");
  src: url("/styles/fonts/icomoon.eot?vjxn5v#iefix") format("embedded-opentype"), url("/styles/fonts/icomoon.ttf?vjxn5v") format("truetype"), url("/styles/fonts/icomoon.woff?vjxn5v") format("woff"), url("/styles/fonts/icomoon.svg?vjxn5v#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

header {
  background-color: #1e1d24; }
  header h1 {
    display: inline-block; }

.top-navigation {
  display: inline-block; }
  .top-navigation ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .top-navigation li {
    display: inline-block; }
  .top-navigation a {
    margin: 0 16px; }

.title-description h1 {
  margin-bottom: 1.333rem; }

.title-description p {
  max-width: 70rem; }

.blog {
  margin-bottom: 6em; }
  .blog .breadcrumbs {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1em 2em; }
    .blog .breadcrumbs ul {
      margin: 0; }
  .blog .no-show {
    margin: 3em auto;
    width: 30%; }
  .blog .blog-post {
    margin: 6em 20% 5em; }
  .blog .button-create {
    display: block;
    max-width: 12em;
    margin: 2em auto 0; }
  .blog .blog-form {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 0 10%; }
  .blog .post-preview {
    display: none;
    width: 30em; }
    .blog .post-preview h1 {
      margin-top: 0;
      margin-bottom: 1em; }
    @media screen and (min-width: 800px) {
      .blog .post-preview {
        display: block;
        width: 30em;
        margin: 2em 1em; } }
  .blog .create-post {
    display: block;
    width: 30em;
    margin: 2em 1em; }
    @media screen and (max-width: 35em) {
      .blog .create-post {
        width: 95%; } }
    .blog .create-post input {
      display: block; }
    .blog .create-post input[type=text], .blog .create-post textarea {
      width: 100%;
      margin-bottom: 1.333rem; }
    .blog .create-post ul {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin: 0;
      width: 100%;
      height: 4em; }
    .blog .create-post li {
      display: inline-block; }

.feature h1 {
  margin-bottom: 3.157rem; }

.feature p {
  max-width: 38em;
  margin: 0 auto 3.157rem; }

.feature .button-feature {
  margin-left: 1.333rem;
  margin-right: 1.333rem; }

.big-indent-left {
  margin-left: 5em; }

.big-indent-right {
  margin-right: 5em; }

.small-indent-left {
  margin-left: 3.5em; }

.button-big,
.button-read {
  text-transform: uppercase;
  background: black;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: .25em;
  margin-right: .25em;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px; }

.button-change,
.button-create,
.button-feature:hover {
  background: white;
  color: black; }

.button-feature:hover {
  font-weight: 400; }

.button-feature {
  display: inline-block;
  background: transparent;
  border: 1px solid white;
  font-weight: 400;
  margin-bottom: 1em; }

.button-small {
  text-transform: uppercase;
  background: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: .25em;
  margin-right: .25em;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px; }

.button-small:hover {
  background: black;
  color: white; }

header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  header h1 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 2.369rem;
    color: #ffffff; }

.top-navigation {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.238em; }
  .top-navigation li:before {
    content: "•";
    color: #ffffff; }
  .top-navigation li:first-child:before {
    display: none; }
  .top-navigation a {
    color: #ffffff; }
  .top-navigation a:hover {
    color: #97f1e7; }

.title-description {
  font-family: "Roboto Slab", sans-serif;
  background-color: #97f1e7;
  border-bottom: 2px solid #80ccc3; }
  .title-description h1 {
    font-weight: 400;
    font-size: 3.33em;
    color: #1e1d24; }
  .title-description p {
    font-weight: 300;
    font-size: 2.369rem;
    line-height: 3.5rem;
    color: #5b918b; }

.icon-circle {
  border-radius: 50%;
  width: 8em;
  height: 8em;
  padding-top: 3.5em;
  padding-bottom: 2.5em;
  padding-right: 1.2em;
  padding-left: 1.2em;
  border: 0.12em solid #bbbbbd;
  position: relative;
  display: block;
  text-align: center; }

.social-link-footer li {
  margin-right: 2em;
  display: inline-block; }
  .social-link-footer li .icon-circle .footer-icon {
    left: 0;
    bottom: 1.8em;
    position: absolute;
    font-size: 3em;
    color: #1e1d24;
    background-color: #ffffff; }

.icon-text {
  color: #1e1d24;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 700; }

.blog {
  background-color: #ffffff; }
  .blog .no-show {
    display: block;
    font-family: "Ubuntu", sans-serif; }
    .blog .no-show a {
      color: #bbbbbd; }
  .blog .breadcrumbs {
    border-bottom: 1px solid #bcbbbd; }
    .blog .breadcrumbs h1 {
      display: inline-block;
      font-family: "Ubuntu", sans-serif;
      font-size: 16px;
      font-weight: font-weight(bold); }
    .blog .breadcrumbs ul {
      display: inline-block; }
    .blog .breadcrumbs li {
      padding-right: 10px;
      padding-left: 10px;
      font-family: "Ubuntu", sans-serif;
      font-size: 16px;
      color: #bcbbbd;
      text-align: right; }
  .blog .blog-post {
    padding: 0 0 5em;
    text-align: left;
    border-bottom: 1px solid #bcbbbd; }
    .blog .blog-post div {
      float: right; }
    .blog .blog-post h1 {
      font-family: "Ubuntu", sans-serif;
      font-size: 3em;
      padding-left: 0;
      padding-bottom: 1em; }
    .blog .blog-post p {
      font-family: "Ubuntu", sans-serif;
      font-weight: 300;
      font-size: 1.777rem;
      color: #bcbbbd;
      line-height: 2.75rem;
      padding-bottom: 1em; }
    .blog .blog-post li {
      font-family: "Ubuntu", sans-serif;
      text-align: left;
      font-style: italic;
      color: #bcbbbd;
      padding-left: 0;
      padding-right: 10px; }
      .blog .blog-post li a {
        color: #bcbbbd; }
    .blog .blog-post li:before {
      content: "•";
      padding-right: 10px; }
    .blog .blog-post li:first-child:before {
      display: none; }
    .blog .blog-post ul {
      display: inline;
      width: 75%;
      margin: 0;
      float: none; }
    .blog .blog-post .button-read {
      float: right; }
  .blog nav {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 1em;
    width: 60%;
    margin: 0 auto; }
    .blog nav ul {
      margin: 0;
      display: inline;
      min-width: 175px; }
    .blog nav li {
      padding: 0 2px; }

footer {
  padding: 2em 0; }
  footer .footer-top {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 2em;
    border-bottom: 1px solid #d2d2d3; }
    footer .footer-top a {
      font-family: "Ubuntu", sans-serif; }
  footer .footer-bottom {
    text-align: center;
    margin: 2em auto; }
    footer .footer-bottom li {
      font-size: .917em;
      font-family: "Ubuntu", sans-serif;
      padding: 0 0.5em; }

.feature {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  background-color: #97f1e7; }
  .feature h1 {
    font-weight: 400;
    font-size: 3em;
    line-height: 1;
    color: #ffffff; }
  .feature p {
    font-weight: 400;
    font-size: 1.333rem;
    line-height: 2.25;
    color: #cbf8f3; }
  .feature .button-feature {
    padding-top: 1em;
    padding-bottom: 1em; }

.create-post input, .create-post textarea {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  border: 1px solid #bbbbbd;
  border-radius: 5px; }

.create-post li a {
  display: inline-block; }

.create-post input {
  padding: 0.3em 0.3em; }

.create-post textarea {
  padding: 0.3em 0.3em;
  min-height: 20em; }

.create-post input[type=text] {
  padding: .5em; }

.create-post input[type=submit] {
  font-size: 16px;
  padding: 1em 2em; }

.create-post input[type=submit]:hover {
  cursor: pointer; }

.post-preview h1 {
  font-family: "Ubuntu", sans-serif;
  padding: 0;
  font-size: 2.369rem; }

.post-preview h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.777rem;
  padding-bottom: 1em; }

.post-preview p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 1.333rem;
  color: #bcbbbd;
  line-height: 2rem;
  padding-bottom: 1em;
  white-space: pre-wrap; }
