$theme-colors: (
  primary: #1e1d24,
  accent: #97f1e7,
  secondary: #bbbbbd,
  base: #ffffff
);

$shades-primary: (
  1: mix(white, color(primary), 52.5%),
  2: mix(white, color(primary), 70%),
  3: mix(white, color(primary), 77%),
  4: mix(white, color(primary), 80%),
  5: mix(white, color(primary), 90%)
);

$shades-accent: (
  -2: mix(black, color(accent), 40%),
  -1: mix(black, color(accent), 15.4%);
  1: mix(white, color(accent), 50%);
);

$modular-scale: (
  -1: 0.75rem,
  0: 1rem,
  1: 1.333rem,
  2: 1.777rem,
  3: 2.369rem,
  4: 3.157rem
);

$font-weights: (
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700
);
