@font-face {
  font-family: 'icomoon';
  src:url('/styles/fonts/icomoon.eot?vjxn5v');
  src:url('/styles/fonts/icomoon.eot?vjxn5v#iefix') format('embedded-opentype'),
      url('/styles/fonts/icomoon.ttf?vjxn5v') format('truetype'),
      url('/styles/fonts/icomoon.woff?vjxn5v') format('woff'),
      url('/styles/fonts/icomoon.svg?vjxn5v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
